/classifiedMNIST/*
/__pycache__/*
/data/*
/experiments/*
/trained_classifiers/*
/trained_models/*
/classifier_to_download/*
/classifiedMNIST_not_eval/*
/experiment_status/*
/flip_results/*


*.gif
*.png